# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local configuration
.env

# github
.github/*

# hide personal data
/data/*
/data/**
!/data/
!/data/**/
!/data/**/.gitkeep

# macOS specific files
**/.DS_Store